# =============================================================================
# DEVELOPMENT TOOLS.
#
# Place application dependencies into setup.cfg
# =============================================================================
pytest
jupyterlab
docutils
seaborn
matplotlib
pandas-summary
