# =============================================================================
# DEVELOPMENT TOOLS.
#
# Place application dependencies into setup.cfg
# =============================================================================
pytest
jupyterlab
docutils
matplotlib
altair
pandas-summary
